@charset "UTH-8";

/* ---------------------------------

変数管理・定義

--------------------------------- */
/* 色・透明度 */
$black: #333; // 主にテキスト色
$white: #fefefe; // 主に背景色
$ash: #d5d5d5; //主に背景色アクセント
$green: #247291; // アクセント1
$red: #DB2828; // アクセント2
$hover-opacity: 0.6; // 透過度

/* // レイアウト幅 */
$layout-width-inner: 1050px;

/* ブレークポイント */
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tb": "(max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
);

/* メディアクエリ */
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* 階層 */
$layer: (
    modal: 100, // モダール
    toggle-menu: 30, //ハンバーガー時のスライドメニュー
    toggle-bg: 25, //ハンバーガー時の画面全体
    header: 20, // ヘッダー
    footer: 10, // フッター
    /* =========== スタックコンテキスト=========== */
    subtitle: 5, //サブタイトル
    subtitle-bg: -1, //h2タイトルの英語の擬似要素部分
    /* ======================================= */
    bg-ash: -10, //色分けセクションの背景部分
    fv: -20, //ファーストビュー
    default: 1,
);

@mixin z-index($key) {
    z-index: map-get($layer, $key);
}

/* 余白 */
$section-padding-pc: 120px 0;
$section-padding-sp: 80px 0;

/* 幅・高さ */
$header-height: 100px; //ヘッダーメニューたの高さ
$toggle-width: 50px; //ハンバーガーメニューボタンの幅・高さ

/* フォント */
$font-family-default: YuGothic,
'Yu Gothic',
'Hiragino Kaku Gothic ProN',
'ヒラギノ角ゴ ProN W3',
sans-serif; // 標準フォント

/* アニメーション */
@mixin animation($name,
    $duration: 1s,
    $timing-function: ease,
    $delay: 0s,
    $iteration-count: 1,
    $direction: normal,
    $fill-mode: forwards)
{
    animation: {
        name: $name;
        duration: $duration;
        timing-function: $timing-function;
        delay: $delay;
        iteration-count: $iteration-count;
        direction: $direction;
        fill-mode: $fill-mode;
    }
}

/* Webフォント｜GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap'); //fv-title


/* ---------------------------------

リセット

--------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,h2,h3,h4,h5,h6,
ul,ol,dl,li,
dt,dd,
p,div,span,img,a,
table,tr,th,td,
figure,figcaption {
    margin: 0;
    padding: 0;
}

body {
    background: $white;
    color: $black;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: none;
}

li {
    list-style: none;
    list-style-position: inside;
}

header a,
footer a {
    text-decoration: none;
}


/* ---------------------------------

補完クラス

--------------------------------- */
/* PCだけ非表示 */
.hidden-pc {
    @include mq(pc) {
        display: none;
    }
}

/* スマホだけ非表示 */
.hidden-sp {
    @include mq(sp) {
        display: none;
    }
}


/* 写真位置の調整 */
.position-left {
    object-position: left;
}


/* ---------------------------------

共通パーツ

--------------------------------- */
/* コンテント幅 */
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;
    height: inherit;
}

/* h2タイトル（擬似要素含む） */
.subtitle {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 200px;
    @include z-index(subtitle);

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
    }

    &::before {
        bottom: -85px;
        width: 76px;
        height: 4px;
        background: $green;
    }

    &::after {
        /* ---------------------------------------
        ※ content=""内のタイトル名は各セクションで記述
        ※ 背景色の異なるセクションの文字色は各セクションで記述
        --------------------------------------- */
        top: -60px;
        font-size: 5rem;
        color: $ash;
        @include z-index(subtitle-bg);
    }

    @include mq(sp) {
        font-size: 1.5rem;
        margin: 0 auto 150px;

        &::before {
            bottom: -60px;
        }
    
        &::after {
            top: -45px;
            font-size: 3.2rem;
        }
    }
}

/* 色分けセクション部分の背景 */
.bg-ash {
    background: $ash;
    position: relative;
    @include z-index(bg-sah);
}

/* linkをhover時に赤い線がスライドする動き*/ 
.slide-redLine {
    position: relative;
    width: 150px;
    color: $black;
    font-weight: 700;
    
    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        width: 0;
        height: 2.5px;
        background: $red;
        opacity: 0;
        transition: all .4s ease 0s;
    }

    &:hover {
        &:before {
            opacity: 1;
            width: 100%;
        }
    }
}


/* ---------------------------------

ヘッダー｜header

--------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $header-height;
    @include z-index(header);
    background: rgba(254, 254, 254, 0.8);

    @include mq(tb) {
        height: 80px;
    }

    @include mq(sp) {
        background: transparent;
    }

    &__inner {
        display: flex;
    }

    &__logo {
        margin: auto 0;

        @include mq(tb) {
            width: 60px;
            height: 60px;
            margin: auto 0 auto 3vw;
        }

        @include mq(sp) {
            display: none;
        }

        a {
            transition: all .4s ease 0s;

            &:hover {
                opacity: $hover-opacity;
            }
        }
    }
}

.nav {
    margin-left: auto;

    @include mq(tb) {
        margin: auto 3vw auto auto;
    }

    @include mq(sp) {
        display: none;
    }

    &__lists {
        display: flex;
        line-height: $header-height;

        @include mq(tb) {
            line-height: 80px;
        }
    }
    &__list {
        
        &:not(:first-child) {
            margin-left: 2vw;
        }
    }
}


/* ---------------------------------

ハンバーガーメニュー｜toggle

--------------------------------- */
/* ボタン部分（擬似要素で回転） */
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $toggle-width;
    height: $toggle-width;
    background: $black;
    margin: 3vw 3vw auto auto;
    z-index: 100;
    display: none;

    @include mq(sp) {
        display: flex;
        width: 50px;
        height: 50px;
    }

    &__btn {          
        position: relative;
        display: block;
        margin: 0 auto;
        line-height: $toggle-width;
        width: 40px;
        height: 2px;
        background: $white;
        transition: all .5s ease 0s;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            right: 0;
            left: 0;
            margin: 0 auto;
            background: $white;
            transition: all .5s ease 0s;
        }
        &::before {
            top: 12px;
        }
        &::after {
            top: -12px;
        }
    }
}

/* クリックした時の動き（全体回転しながら上下回転・真ん中消える） */
.toggle.active {
    .toggle__btn {
        background: transparent;
        transform: rotate(180deg);

        &::before {
            transform: rotate(45deg);
            top: 0;
        }
        &::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}

/* SP用のスライドメニューの背景 */
.toggle-bg {
    display: none;

    @include mq(sp) {
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: $ash;
        opacity: 0;
        @include z-index(toggle-bg);
        transition: all .3s;
    }
}

/* クリックした時の動き（フェードイン） */
.toggle-bg.active {
    opacity: 1;
}

/* SP用のスライドメニュー */
.toggle-menu {
    display: none;

    @include mq(sp) {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background: $black;
        padding-top: 120px;
        @include z-index(toggle-menu);
        transform: translateX(100vw);
        transition: all .3s;
        
        &__lists {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__list {
            display: inline-block;
            margin-top: 50px;
        }

        &__link {
            color: $white;
            font-size: 1.3rem;
        }

        &__logo {
            position: absolute;
            bottom: 120px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}

/* クリックした時の動き（右からスライドイン） */
.toggle-menu.active {
    transform: translateX(0);
}


/* ---------------------------------

ファーストビュー｜fv

--------------------------------- */
.fv {
    width: 100vw;
    height: 100vh;
    @include z-index(fv);
    position: relative;

    &__content {
        width: 100%;
        height: 100%;
        background: url(../img/fv_img-min2.jpg) no-repeat right bottom / cover;
    }

    &-title {
        position: absolute;
        bottom: 200px;
        display: inline-block;
        width: 820px;
        text-align: center;
        font-family: 'Noto Serif JP', serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 1.2rem;
        color: $black;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
            0px -5px 16px rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, .6);
        backdrop-filter: blur(4px);
        padding: 5px 60px;

        span {
            display: none;
        }

        @include mq(tb) {
            bottom: auto;
            top: 25vh;
            width: 85%;
            font-size: 3.5rem;
            padding: 60px 20px;

            span {
                display: none;
            }
        }
    
        @include mq(sp) {
            top: 15vh;
            width: 85%;
            font-size: 2rem;
            letter-spacing: .2rem;
            padding: 60px 20px;

            span {
                display: block;
                font-size: 1.4rem;
            }
        }
    }

    &-circle {
        position: absolute;
        top: calc(#{$header-height} + 50px);
        right: 50px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 1px solid $black;
        background: $white;

        @include mq(tb) {
            top: auto;
            bottom: 10vh;
            right: auto;
            left: 10vw;
        }
    
        @include mq(sp) {
            display: none;
        }

        &__text {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;

            &-left {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 8rem;
                font-weight: 700;
                color: $red;
            }

            &-right {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 3.5rem;

                span {
                    font-size: 3.7rem;
                }
            }
        }
    }

    .scroll {
        position: relative;
        // バーの高さ
        width: 180px;
        font-size: .7rem;
        text-transform: uppercase;
        overflow: hidden;
        transform: rotate(90deg);
        margin: -10px auto;
        color: $white;

        /* ベースのバー */
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 120px;
            height: 1px;
            background: rgb(164, 164, 164);
        }

        /* 動くバー */
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 80px;
            width: 40px;
            height: 1px;
            background: $red;

            @include animation(
                $name: movingBar,
                $duration: 1.7s,
                $iteration-count: infinite
            );

            @keyframes movingBar {
                0% {
                    right: 80px;
                }
                100% {
                    right: 0;
                }
            }
        }
    }
}


/* ---------------------------------

自己紹介｜about

--------------------------------- */
.about {
    padding: $section-padding-pc;
    margin-top: 150px; //about部分だけ上部margin:150px指定

    @include mq(sp) {
        padding: $section-padding-sp;
    }

    .subtitle::after {
        content: "ABOUT";
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 80px;

        @include mq(tb) {
            flex-direction: column;
            align-items: center;
        }

        @include mq(sp) {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }

    &__intro {
        display: flex;
        flex-direction: column;
        width: 300px;

        &-img {
            width: 100%;
            padding: 30px 0 0 0;
    
            img {
                width: auto;
                border-radius: 50%;
                border: 1px solid $black;
                box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
                        0px -5px 16px rgba(255, 255, 255, 0.3);
            }

            @include mq(tb) {
                padding: 0 0 30px 0;
            }
        }

        &-name {
            text-align: center;
            margin: auto 0;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: .5rem;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
                        0px -5px 16px rgba(255, 255, 255, 0.3);
        }

        @include mq(tb) {
            width: 180px;
        }
    }

    &__message {
        width: 70%;
        padding: 0 0 0 60px;
        font-size: .9rem;
        line-height: 1.8rem;

        p:not(:first-child) {
            padding-top: 15px;
        }

        @include mq(tb) {
            width: 70%;
            padding: 60px 0 0 0;

            p > br {
                display: none;
            }
        }

        @include mq(sp) {
            width: 90%;
            padding: 60px 0 0 0;

            p > br {
                display: none;
            }
        }
    }
}


/* ---------------------------------

出来ること｜skills

--------------------------------- */
.skills {
    padding: $section-padding-pc;

    @include mq(sp) {
        padding: $section-padding-sp;
    }

    .subtitle::after {
        content: "SKILLS";
        color: rgba(254, 254, 254, .7);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;

        @include mq(tb) {
            justify-content: center;
        }
    }
    
    &__item {
        width: calc(100% / 3 - 30px * 2 / 3);
        height: 380px;
        margin-right: 30px;
        margin-bottom: 20px;
        background: #FFF;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        padding: 16px;
        transition: all .5s ease 0s;
    
        &:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        }
    
        @include mq('tb') {
            width: calc(100% / 2 - 60px / 2);
            height: 430px;
    
            &:nth-child(3n) {
                margin-right: 30px;
            }
    
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    
        @include mq('sp') {
            width: 95%;
            margin: 0 auto 30px;
            height: 400px;
    
            &:nth-child(3n) {
                margin: 0 auto 30px;
            }
    
            &:nth-child(2n) {
                margin: 0 auto 30px;
            }
        }
    }
    
    &__img {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
        position: relative;
    
        @include mq('tb') {
            height: 250px;
        }
    
        @include mq('sp') {
            height: 180px;
        }
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        &-tag {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #247291;
            color: #FFF;
            font-size: 12px;
            width: 96px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            left: 0;
        }

        &.html__logo:before {
            background: $white url(../img/html5-brands.svg) no-repeat center/ 90% 90%;
        }

        &.css__logo:before {
            background: $white url(../img/css3-alt-brands.svg) no-repeat center/ 90% 90%;
        }

        &.js__logo:before {
            background: $white url(../img/js-brands.svg) no-repeat center/ 90% 90%;
        }

        &.git__logo:before {
            background: $white url(../img/github-square-brands.svg) no-repeat center/ 90% 90%;
        }

        &.xd__logo:before {
            background: $white url(../img/adobe.svg) no-repeat center/ 90% 90%;
        }
    }
    
    &__text-wrapper {
        width: 100%;
    }
    
    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    &__text-box {
        overflow-y: auto;
        width: 100%;
        height: 110px;
    }
    &__text {
        font-size: .8rem;
    }
}


/* ---------------------------------

4日間の軌跡｜path

--------------------------------- */
.path {
    padding: $section-padding-pc;

    @include mq(sp) {
        padding: $section-padding-sp;
    }

    .subtitle::after {
        content: "PATH";
    }

    &__wrapper {
        margin-bottom: 42px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        display: flex;
        transition: all .5s ease 0s;
    
        &.reverse {
            flex-direction: row-reverse;
    
            @include mq('sp') {
                flex-direction: column;
            }
        }
    
        @include mq('tb') {
            margin-right: 3vw;
            margin-left: 3vw;
        }

        @include mq('sp') {
            flex-direction: column;
            width: 95%;
            margin: 0 auto 40px;
        }
    
        &:last-child {
            @include mq('sp') {
                margin-bottom: 0;
            }
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        }
    }
    
    &__image {
        width: 40%;
        height: 315px;
    
        img {
            object-fit: cover;
            //親要素(.card-image)の大きさ内とする為、100%指定
            width: 100%;
            height: 100%;
        }
    
        @include mq('sp') {
            width: 100%;
            height: 250px;
        }
    }
    
    &__message {
        width: 60%;
        height: 315px;
        padding: 23px 25px 30px 35px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        @include mq('sp') {
            width: 100%;
        }
    }
    
    &__title {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.1;
        margin-bottom: 25px;

        @include mq('tb') {
            font-size: 1.2rem;
        }
    }

    &__text-box {
        overflow-y: auto;
        width: 100%;
        height: 295px;       
    }

    &__text {
        font-size: 1rem;
        line-height: 1.9rem;

        @include mq('tb') {
            font-size: .9rem;
            line-height: 1.7rem;
        }

        @include mq('sp') {
            font-size: .9rem;
            line-height: 1.7rem;
        }

        span {
            color: $red;
            font-weight: 700;
        }
    }

    &__link {
        display: inline-block;
        padding-top: 20px;
    }
}


/* ---------------------------------

学習記録｜study

--------------------------------- */
.study {
    padding: $section-padding-pc;

    @include mq(sp) {
        padding: $section-padding-sp;
    }

    .subtitle::after {
        content: "STUDY";
        color: rgba(254, 254, 254, .7);
    }

    .codepen {
        &__text {
            font-size: 1rem;
            text-align: right;

            @include mq(sp) {
                font-size: .9rem;
            }

            br {
                display: none;

                @include mq(sp) {
                    display: block;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @include mq(tb) {
            margin-left: 3vw;
            margin-right: 3vw;
        }

        @include mq(sp) {
            flex-direction: column;
            margin: 0 auto;
        }

        .twitter {
            @include mq(sp) {
                width: 300px;
                margin: 50px auto 0;
            }
        }
    
        .study__link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 320px);
            height: 400px;
            border-radius: 5px;
            background: $ash;
            box-shadow:  4px 4px 9px #bebebe, 
                        -4px -4px 9px #ececec;
                        padding: 35px;
            margin-left: 40px;
            transition: all .4s;

            @include mq(tb) {
                flex-direction: column;
            }

            @include mq(sp) {
                width: 85%;
                height: 300px;
                margin: 50px auto 0;
            }

            &-twitter,
            &-codepen {
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 5px;
                background: $ash;
                box-shadow:  4px 4px 9px #bebebe, 
                            -4px -4px 9px #ececec;
                transition: all .4s ease 0s;

                @include mq(tb) {
                    width: 90%;
                    height: 35%;
                }
                
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    
                    img {
                        position: absolute;
                        top: 1vw;
                        left: 1vw;
                        width: 50px;
                        height: 50px;
                        transition: all .7s ease 0s;

                        @include mq(tb) {
                            top: 2vw;
                            left: 2vw;
                            width: 45px;
                            height: 45px;
                        }

                        @include mq(sp) {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                p {
                    position: absolute;
                    bottom: 1vw;
                    right: 1vw;
                    font-size: 1.2rem;
                    transition: all .7s ease 0s;
                }

                &:hover {
                    img {
                        left: 1.5vw;
                        top: 1.5vw;
                        opacity: .6;

                        @include mq(tb) {
                            top: 2.5vw;
                            left: 2.5vw;
                        }

                    }

                    p {
                        right: 1.5vw;
                        bottom: 1.5vw;
                        opacity: .6;

                        @include mq(tb) {
                            right: 2.5vw;
                        }
                    }
                }

                &:active {
                    box-shadow: inset 5px 5px 10px #bebebe, 
                                inset -5px -5px 10px #ececec;

                    img {
                        width: 49px;
                        height: 49px;
                    }

                    p {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}


/* ---------------------------------

納期までの予定｜schedule

--------------------------------- */
.schedule {
    padding: $section-padding-pc;

    @include mq(sp) {
        padding: $section-padding-sp;
    }

    .subtitle::after {
        content: "SCHEDULE";
    }

    &__table {
        display: block;
        overflow-x: scroll;

        @include mq(sp) {
            white-space: nowrap;
            width: 100%;
            -webkit-overflow-scrolling: touch;
        }

        table {
            border: 1px solid $black;
            border-collapse: collapse;
            table-layout: auto;
            max-width: 100%;
            margin: 0 auto;
        
            @include mq(tb) {
                width: 95%;
                margin-left: 3vw;
            }

            th, td {
                border: 1px solid $black;
                text-align: center;
                min-width: 60px;
                padding: 10px 0;
                line-height: 3;
                font-size: .7rem;
                color: $black;

                @include mq(tb) {
                    line-height: 2.5;
                }
                
                @include mq(sp) {
                    padding: 10px 0;
                    line-height: 2;
                }
            }
        
            /* 1列目の幅を固定 */
            th:first-child {
                min-width: 140px;
        
                @include mq(sp) {
                    width: 130px;
                }
            }
        
            /* 見出し部分のフォントウェイト変更 */
            th {
                font-weight: 700;
                text-align: center;
                padding: 10px;
            }
        
            /* 1行目の背景色指定 */
            tr:first-child {
        
                th {
                    background: $ash;
                }
        
                th:nth-child(2) {
                    background: rgb(81, 96, 234);
                    color: $white;
                }
                th:nth-child(9) {
                    background: rgb(81, 96, 234);
                    color: $white;
                }
                th:nth-child(16) {
                    background: rgb(81, 96, 234);
                    color: $white;
                }
        
                th:nth-child(3) {
                    background: rgb(234, 81, 116);
                    color: $white;;
                }
                th:nth-child(10) {
                    background: rgb(234, 81, 116);
                    color: $white;;
                }
            }
            
            /* 1行目以外の設定 */
            tr:not(:first-of-type) {

                /* 1行目以外の背景色を指定 */
                th, td {
                    background: $white;
                    min-width: 50px;
                }
        
                /* 土日部分の背景を指定 */
                td:nth-of-type(1) {
                    background: rgba(81, 96, 234, .6);
                }
                td:nth-of-type(8) {
                    background: rgba(81, 96, 234, .6);
                }
                td:nth-of-type(15) {
                    background: rgba(81, 96, 234, .6);
                }
        
                td:nth-of-type(2) {
                    background: rgba(234, 81, 116, .6);
                }
                td:nth-of-type(9) {
                    background: rgba(234, 81, 116, .6);
                }

                @include mq(sp) {
                    min-width: 50px;
                }
            }
        }
    }

    &__message {
        font-size: .9rem;
        line-height: 2rem;
        margin-left: 5px;
        
        &:first-of-type {
            margin-top: 20px;
        } 

        @include mq(tb) {
            font-size: .8rem;
            line-height: 1.8rem;
            margin-left: 3vw;
        }

        @include mq(sp) {
            font-size: .7rem;
            line-height: 1.6rem;
        }
    }
}


/* ---------------------------------

フッター｜footer

--------------------------------- */
.footer {
    width: 100vw;
    height: 120px;
    background: $green;

    p {
        color: $white;
        font-size: .7rem;
        letter-spacing: .2rem;
        text-align: center;
        line-height: 120px;
    }
}